[Unit]
Description=IOC Log Server <%= @name %>
Requires=<%= @systemd_requires.join(' ') %>
After=<%= @systemd_after.join(' ') %>

[Service]
Environment="EPICS_IOC_LOG_FILE_NAME=<%= @logpath %>/<%= @logfile %>"
Environment="EPICS_IOC_LOG_PORT=<%= @port %>"
Environment="EPICS_IOC_LOG_FILE_LIMIT=<%= @file_limit %>"
ExecStart=/usr/bin/iocLogServer
Restart=always
User=<%= @username %>

[Install]
WantedBy=multi-user.target
